body {
	width: 761px;
}

header h3{
	width: 770px;
}

section {
	width: 94.5%;
	margin-right: 22px;
}
#nav_bar {
	margin-left: -20px;
	width: 768px;
}

#nav_bar li { 
	padding: 0 1.5em;
	}